@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

@media screen and (min-width: 480px) {
  .card:nth-child(7n + 1) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
}

.prompt::-webkit-scrollbar {
  width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}
@layer base {
  @font-face {
    font-family: "harvestital-regular";
    src: url("./assets/fonts/harvestital-regular.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "harvestital-regular";
    src: url("./assets/fonts/harvestital-regular.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "harvestital-regular";
    src: url("./assets/fonts/harvestital-regular.ttf");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
